/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 10px;
   background:#f1f1f1;
}

/* Header (div) formatting */
.header {
   padding: 10px;
   text-align: center;
   background-color: #cccccc;
   color: #000000;
}

.header h1 {
   font-size: 50px;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
   overflow: hidden;
   background-color: #4f75d7;
 }
 
 /* Style the topnav links */
 .topnav a {
   float: left;
   display: block;
   color: #000000;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }
 
 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #cccccc;
   padding: 10px;
 }

 .button {
   background-color: #4f75d7; /* Green */
   border: none;
   color: rgb(0, 0, 0);
   padding: 10px 16px;
   border-radius: 18px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   transition: opacity 0.15,
 }

 .button:hover {
  opacity: 0.8;
 }

 .button:active {
   opacity: 0.5;
 }

 .top-image {
  width: 300px;
  display: inline-block;
 }

 .p {
  font-family: 'Arial';
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.bigbox {
  display: flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.bigpara,
.smallpara {
  margin-top: 0;
  margin-bottom: 0;
  width: 700px;
}

.bigpara {
  font-family: arial;
  font-size: 45px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.smallpara {
  font-family: arial;
  font-size: 25px;
  color: black;
}

.box1 {
  -ms-flex: 33%;
  flex: 33%;
  background-color: #f1f1f1;
  padding: 60px;
  padding-bottom: 80px;
}

.box2 {
  width: 340px;
  height: 340px;
  background-color: rgba(213, 211, 211, 0.941);
}

.facts {
  width: 340px;
  margin-top: 0;
  margin-bottom: 0;
}


.title {
  font-family: Arial;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 25px;
}

.persona {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-right: 200px;
  margin-left: 225px;;
}

.personapic {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.name,
.description,
.needs,
.goals,
.sande {
  text-align: left;
  width: 250px;
}

.table, th, td {
  border: 1px solid;

}