/* External CSS style file */

* {
   box-sizing: border-box;
}

body {
   font-family: Arial;
   padding: 10px;
   background:#f1f1f1;
}

/* Header (div) formatting */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("header1.jpg");
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("header2.jpg");
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("header3.webp");
  height: 55%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("header4.jpg");
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("header5.jpg");
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("header6.jpg");
  height: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/* Make the logo have a rounded edge */
img.top-image {
   vertical-align: middle;
}

/* CSS Layout from W3Schools: https://www.w3schools.com/css/css_templates.asp */
/* Style the top navigation bar */
.topnav {
  display: flex; 
  overflow: hidden;
  background-color: #4f75d7;
 }
 
 /* Style the topnav links */
 .topnav a {
   flex: 1;
   align-self: center;
   color: #000000;
   text-align: center;
   padding: 10px 10px;
   text-decoration: none;
   transition: color 0.15s;
 }
 
 /* Change color on hover */
 .topnav a:hover {
   color: white;
   text-decoration: none;
 }

 
 
 /* Style the content */
 .content {
   background-color: #ddd;
   padding: 10px;
 }
 
 /* Style the footer */
 .footer {
   background-color: #cccccc;
   padding: 10px;
 }

 .navimage {
  width: 500px; 
  float: left;
 }

 .button {
   background-color: #4f75d7; /* Green */
   border: none;
   color: rgb(0, 0, 0);
   padding: 10px 40px;
   border-radius: 18px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   cursor: pointer;
   transition: opacity 0.15,
 }

 .button:hover {
  opacity: 0.8;
 }

 .button:active {
   opacity: 0.5;
 }

 .top-image {
  height: 100%; 
  width: 100%;
  display: inline-block;
 }

 .p {
  font-family: 'Arial';
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.bigpara,
.smallpara {
  font-family: arial;
  text-align: left;
  width: 600px;
}

.bigpara {
  font-weight: bold;
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 15px;
}

.smallpara {
  font-size: 30px;
  line-height: 42px;
}

.big-box {
  width: 660px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.factpic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  vertical-align: top;
  margin-bottom: 15px;
  margin-right: 10px;
}

.fact {
  font-weight: bold;
  font-size: 30px;
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
}

.facts {
  font-size: 20px;
  display: inline-block;
  width: 300px;
}

.fact,
.facts {
  text-align: left;
  line-height: 30px;
}

.bigbox2 {
  width: 670px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.title,
.reason {
  font-family: arial;
  text-align: left;
  width: 600px;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}

.reason {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 10px;
}

.persona {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
}

.personapic {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.name,
.description,
.needs,
.goals,
.sande {
  font-size: 19px;  
  text-align: left;
  width: 250px;
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;

}

th, td {
  border: 1px solid #ddd;
  padding: 8px;

}



tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: rgb(43, 202, 152);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4f75d7;
  color: rgb(0, 0, 0);

}


.btn{
 /* background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
*/}

.form-group {
	display: inline-block;
} 
